html 
    head 
        meta(chatset = "UTC-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Player
        style
          include ../public/style.css
    

    body( class = "player-body") 
        video(id = "videoPlayer" width="650" controls muted="muted" autoplay) 
            source(src=`/video?video=${video}&type=${type}` type="video/mp4" )