html 
    head 
        meta(chatset = "UTC-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Player
        style
          include ../public/style.css
    

    body(class = "videos-list")
        div
            ul 
                each video in videos
                    a( href=`/play?video=${video.path}&type=${video.type}`)
                        li= video.name